.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }
.dropdown-menu, span.twitter-typeahead .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}
.trend { width:100%; height:140px; }
main { min-height: 300px; }
